html {
    scrollbar-color: #4A0000 #313338;
    scrollbar-width: thin;
}

body {
    background-color: #4A0000;
  background: url(home/spacebackground.gif);
  color: white;
  font-family: monospace;
  font-size: 1.350em;
    margin: 0;
  }
  
center {
  text-align: center;
  }
  
/*Contains everything*/
.wrapper {
  width: 1435px;
  background: none;
  margin: 0 auto;
  top: 0;
    color: #fff;
  }

.link a {
  color: grey;
  text-decoration: none;
  }

/*Contains main and sidebar divs*/
.wrapper-2 {
  position: relative;
}
  
/*Header and footer images*/
.header, .footer {
  height: 200px;
  overflow: hidden;
  background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.1)), url("/img/river.gif"); /*This is the image in the header and footer. Replace it with your own!*/
  background-size:cover;
  }

.header {
  border: 2px double #fff;
  background: linear-gradient(rgb(30, 31, 34, 0.75), rgb(30, 31, 34, 0.75));
  text-align: center;
  margin-top: 15px;
  top: 0;
  height: auto;
  }

.footer {
  height: 0px;
  }

.header img {
  border-top: 0px;
  }
  
/*Big title at the top of the page.*/  
.title {
  padding: 15px 10px 10px 20px;
    display: none;
    /*suppress title, since we're putting the title as text in the header box*/
  }

/*Override default margins/padding for headings.*/
.title h1, .title h2, .title h3 {
  padding:0;
  margin: 0;
  }

/*Container for top row of links.*/
.links {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
    margin-top: 1em;
  }

/*Div style for individual links.*/
.link {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  float: none;
  font-weight: bold;
  font-size: 1.16em;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border: 0px solid red;
  }
  

/*These three classes are just for defining the boundaries and size of the main and sidebar columns. Most fancy styling goes in the 'box' class.*/
.sidebar-left, .main, .sidebar-right {
  display: inline-block;
  }
  
.sidebar-left, .sidebar-right {
  width: 230px;
  position: absolute;
  top: 0;
  }

.main {
  width: 900px;
  margin-left: 250px;
  }


.sidebar-left {
    margin-left: 0px;
    margin-right: 10px;
  }

.sidebar-right {
    margin-right: 0px;
    margin-left: 20px;
}

/*Box used for individual sections in the sidebar, center column, etc.*/
.box {  
  background: #313338;
  padding: 0;
  color: #fff;
  border: 3px double #333;
  margin: 10px 0px 15px 0px;
  }

.box h1, .box h2, .box h3, .box h4 {
  background: #1E1F22;
  margin: 0;
  padding: 0.35em 0.25em 0.3em 0.25em;
  text-align: center;
  border-bottom: 3px double #333;
    color: #fff
  }

h5 {
    font-size: 48px;
    margin: 10px;
}

h6 {
    font-size: 36px;
    margin: 5px;
    text-align: center;
}

.box a {
    color: #00A8FC;
}

/*Prevent overflow of large images in main text areas.*/
.box img {
  max-width: 100%;
  height: auto;
  }
  
/***
  Not give any style rules by default. Move the padding from the 'box' class here if you want boxes with specially styled headers or images that 
  don't follow the margins of the main text. (For an example of that: see skin #1.)
  ***/
.inner {
  padding: 0.25em 1em 0.3em 1em;
  font-size: 1.075em;
  }

table {
    page-break-after: avoid;
    display: inline-table;
}

.credittable {
    border: 3px solid black;
    border-collapse: collapse;
    padding-left: 6px;
    padding-right: 6px;
}

#aboutkins {
    height: 150px;
}

.hidestuff {
    display: none;
}

::-webkit-scrollbar {
  width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #313338;
}

::-webkit-scrollbar-thumb {
    background-color: #4A0000;
}
