html {
    background-color: #619AC2;
    background-image: url(https://24.media.tumblr.com/b1d7cf81d4ea6e9bca96ec811a712273/tumblr_mrfo8oAQNt1rfjowdo1_500.gif);
    background-blend-mode: lighten;
}

body {
    background-blend-mode: lighten;
}

.mainbody {
    width: 800px;
    height: auto;
    text-align: center;
    background-color: #383838EA;
    margin: auto;
    border: 6px black ridge;
    color: #B0BAC1;
    font-family: 'Tahoma';
    border-radius: 10px;
}

.headerimg {
    width: 700px;
    margin: 5px;
    padding: 10px;
}

p {
    width: 470px;
    height: auto;
    margin: auto;
    font-family: 'Tahoma';
    font-size: 26px;
}

p2 {
    margin: 10px;
    padding: 10px;
}

.stamps {
    width: auto;
    margin: 20px;
    padding: 10px;
}

.stampimage {
    height: 56px;
    width: 99px;
}

.stampimage:hover {
    transform: scale(1.75);
    transition: 0.1s;
}

a {
    color: aqua;
    font-size: 24px;
}

a:hover {
    color: chartreuse;
}